@{
    ViewBag.Title = "Home Page Music Library";
}

<div class="jumbotron">
    <h1>Music Library</h1>
    <p class="lead">
        <span class="glyphicon glyphicon-music">  </span>  Listen to music you love
    </p>
</div>